<div *ngIf="step">
  <h2>{{ step.id }}. {{ step.question }}</h2>
  <p>{{ step.helpfulText }}</p>
  <ul>
   <li *ngFor="let option of step.options; let i = index" 
       (click)="onSelect(step, i)"
       class="button">{{ option.text }}</li>
  </ul>
</div>

<ul *ngIf="!step && answers.length > 0">
  <li *ngFor="let answer of answers; let i = index">
    Step Question: {{ steps[answer.step].question }} 
    <br/>
    Answer: {{ steps[answer.step].options[answer.answer].text }} 
    <br/> 
    Action Needed: {{ steps[answer.step].options[answer.answer].finishText }}
  </li>
</ul>
